.clear{clear: both;}
body{font:13px/20.8px georgia;color:#979797;background-color:#fff;  /*background:url(../images/index.jpg) center top no-repeat; opacity:0.6;*/}
img{margin:0px; }
header{background-color:#27292f; }
.Brand{float: left;margin-top:50px;}
.Brand img{max-width: 100%;height:auto;}
.form-1{clear:right;float: right;margin-top:30px;margin-bottom:33px;}
.form-2{float:none; }
    .form-1 .search-query {
       padding-left:11px;
        background-color:#1f232c;
        border:none;
        height:30px;
        line-height:30px;
        margin-bottom: 0;
        border-radius:25px;
        -webkit-border-radius: 25px;
        -moz-border-radius:25px;
        min-width: 210px;
        font-size: 12px;   

    }

  .form-1  .search-query::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color:#ccc;font-size: 12px;
}
 .form-1 .search-query::-moz-placeholder { /* Firefox 19+ */
  color:#ccc;font-size: 12px;
}
 .form-1 .search-query:-ms-input-placeholder { /* IE 10+ */
  color:#ccc;font-size: 12px;
}
 .form-1  .search-query:-moz-placeholder { /* Firefox 18- */
  color:#ccc;font-size: 12px;
}

 
     .form-1 button {
        border: 0;
        background:#11131a;
        vertical-align: unset;
        padding: 2px 5px;
        margin-top:0px;
        position: relative;
        left: -34px;
        margin-bottom:0px;
        margin-right: 0px;
        -webkit-border-radius:100%;
        -moz-border-radius:100%;
        border-radius: 100%;
    }
 
    .search-query:focus + button {
        z-index: 3;   
    }
.navbar{clear:right;min-height: 0px;margin-bottom: 37px;}
.navbar-default{background: transparent;border: none;}
.navbar-default .navbar-nav > li{margin:0px 26px 0px 0px; }
.navbar-default .navbar-nav > li:nth-child(6){margin-right:0; }
.navbar-default .navbar-nav > li > a{padding:0px;text-transform: uppercase;color: #fff; }
.navbar-default .navbar-nav > li > a:hover{color:#1f232c;}
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus{color:#1f232c;background-color:transparent;}

.data{background-color:#e7e7e7;border-bottom:5px solid #dadada;margin-bottom:80px;}
.msg{font-size:32px; line-height:38.4px; color: #1f222c; }
.msg p{padding:45px 0px;margin: 0px;}
.contact{margin: 51px 0px;}
.contact:hover{cursor: pointer;}
.contact p{background-color:#1f232c;border-radius:4px; -webkit-border-radius:4px;-moz-border-radius:4px;
  text-align: center;color:#e6e6e6;font-size:24px;line-height: 31.2px;text-align: center;margin: 0px;
  padding:18px 10px 21px 10px;  }
.contact a{text-decoration: none; }

.column{background-color:#fff;}
.column img{padding:0px 20px 0px 0px;  }
.column h1{font-size:20px;color:#1f212c;border-bottom:2px solid #1f232c;display:inline-block;padding-bottom:8px;margin-bottom:11px;    }
.column p{margin:0px; }
.media-left{padding-right:0px; }
.margin-bottom{margin-bottom:83px;}

.heading h2 {
  display: flex;
  flex-direction: row;
  font-size:20px;color:#1f212c; 
  margin: 0px 10px;
}

.heading h2:before,.heading h2:after{
  content: "";
  flex: 1 1;
  border-bottom: 2px solid #1f212c;
  margin: auto;
}

.grid{background-color: #fff;padding-top:41px; }
.img-response{width:100%;height: auto; }
.marginbottom{margin-bottom:30px; }
.text{background-color:#eee;min-height:60px;}
.text h3{text-align: center;margin: 0px;padding-top:4px;font-size:14px;color: #1f212c;padding-bottom:4px;text-transform: uppercase;  }
.text p{margin: 0px;font-size:11px;padding:0px 5px;line-height:15px;   }

.info{background-color:#eee;margin-top:50px;padding-top:51px; }
.info h4{font-size:18px;color: #2c2c2c;text-transform: capitalize;margin: 0px;padding-bottom: 30px; }
address{margin:0px;}
.detail p{font-size:12px; line-height:19.2px;color: #7c7c7c;margin: 0px;  }
.detail a{text-decoration: none;color: #7c7c7c;}
.bottom{margin-bottom: 32px;}
.info ul{list-style: none; padding: 0px;margin: 0px;}
.info ul li{display:block;border-bottom:1px solid #c4c4c4;padding-top:11px;padding-bottom:10px;}
.info ul li:first-child{padding-top:0px;}
.info ul li a{text-decoration:none;font-size: 12px;color: #1f232c;text-transform:capitalize; display: block; }

.info h5{font-size:13px;color: #7c7c7c;margin: 0px;padding-bottom: 7px;text-transform: capitalize;}
.info h6{margin: 0px;font-size:11px;color: #7c7c7c;padding-bottom: 11px;}
.blog p{font-size: 12px;line-height:19.2px;color: #7c7c7c;margin:0px;padding-bottom: 18px;  }
.read{float:right;text-transform: capitalize;font-size: 12px;color: #1f232c; }
.read:hover{text-decoration:none;color: #1f232c;  }
.textfld{margin-bottom:10px;font-size: 13px;color:#1a1b1d;border: none;  }

.textfld::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color:#1a1b1d;font-size: 13px;
}
.textfld::-moz-placeholder { /* Firefox 19+ */
  color:#1a1b1d;font-size: 13px;
}
.textfld:-ms-input-placeholder { /* IE 10+ */
  color:#1a1b1d;font-size: 13px;
}
.textfld:-moz-placeholder { /* Firefox 18- */
  color:#1a1b1d;font-size: 13px;
}

.submitbtn{padding:11px 11px 10px 13px; background-color:#1f232c;color:#f5f4f2;
	text-transform: uppercase;border-radius:4px;-webkit-border-radius:4px ;-moz-border-radius:4px; }
.submitbtn:hover{color:#f5f4f2; }

footer{background-color:#1f232c;font-size:12px;color: #737373;padding-top:25px;padding-bottom: 23px;}
.info-lt p{float: left;margin: 0px;}
.info-rt p{float: right;margin: 0px;}





/*Media Queries*/

@media screen and (max-width:320px){

form{display: none;}
.form-2{float:left; }
.form-1{margin:0px;}
.navbar-default .navbar-nav > li > a{padding:10px;}
.Brand{float: none;margin-top:10px; }
.Brand img{display: block;margin:0 auto; }
.navbar{margin-bottom:10px; }
.msg p{padding:10px 0px;font-size: 12px; }
.contact{margin:0px 0px 10px; }
.contact p{font-size:15px;padding:10px 0px; }
.data{margin-bottom:15px;}
.margin-bottom{margin-bottom:20px;}
.column p{text-align:justify;font-size: 10px;}
.grid{padding-top: 10px;}
.text p{font-size:10px;text-align: center; }
.marginbottom{margin-bottom:10px; }
.info{margin-top:10px;padding-top:10px;  }
.info h4{text-align: center;padding-bottom:15px; }
.info-lt p,.info-rt p{float: none;font-size: 10px;text-align: center;}
}

@media screen and (min-width:320px) and (max-width:480px) {

form{display: none;}
.form-2{float:left; }
.form-1{margin:0px;}
.navbar-default .navbar-nav > li > a{padding:10px;}
.Brand{float: none;margin-top:10px; }
.Brand img{display: block;margin:0 auto; }
.navbar{margin-bottom:10px; }
.msg p{padding:10px 0px;font-size: 19px; }
.contact{margin:0px 0px 10px; }
.contact p{font-size:20px;padding:10px 0px; }
.data{margin-bottom:15px;}
.margin-bottom{margin-bottom:20px;}
.column p{text-align:justify;}
.grid{padding-top: 10px;}
.text h3{font-size:16px; }
.text p{font-size:12px;text-align: center; }
.marginbottom{margin-bottom:10px; }
.info{margin-top:10px;padding-top:10px;  }
.info h4{text-align: center;padding-bottom:15px;}
.info-lt p,.info-rt p{float: none;text-align: center;font-size: 11px;}
}

@media screen and (min-width:481px) and (max-width:767px) {

form{display: none;}
.form-2{float:left; }
.form-1{margin:0px;}
.navbar-default .navbar-nav > li > a{padding:10px;}
.Brand{float: none;margin-top:10px; }
.Brand img{display: block;margin:0 auto; }
.navbar{margin-bottom:10px; }
.msg p{padding:10px 0px;font-size: 19px; }
.contact{margin:0px 0px 10px; }
.contact p{font-size:20px;padding:10px 0px; }
.data{margin-bottom:15px;}
.margin-bottom{margin-bottom:20px;}
.column p{text-align:justify;}
.grid{padding-top: 10px;}
.text h3{font-size:16px; }
.text p{font-size:14px;text-align: center; }
.marginbottom{margin-bottom:10px; }
.info{margin-top:10px;padding-top:10px;  }
.info h4{text-align: center;padding-bottom:15px;}
}

@media screen and (min-width:768px){
	.form-2{display:none;}
}

@media screen and (min-width:768px) and (max-width:991px){
  .Brand{float:none;margin-top: 10px;}
  .Brand img{display: block;margin:0 auto; }
  .form-1{margin-top:0px; }
  
}


